<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-9 offset-md-3">
            <h1 class="display-4">تعديل </h1>
            <hr>
       
            <%- include('../partials/flashMessages') -%>     
            <% emp.forEach((emp)=> {%>

            <form  action="/users/updateEmp" method="post">
                <div class="form-group">
                    <label for="email">اسم الموضف</label>
                    <input type="text" name="email" id="email" value="<%=emp.email%>"class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">الرمو السابق</label>
                    <input type="password" name="old_password" id="old_password" class="form-control" placeholder="اتركه فارغ اذا كنت لا تريد تغيير الرمز">
                </div>

                <div class="form-group">
                    <label for="confirm_password">الرمز الجديد</label>
                    <input type="password" name="new_password" id="new_password" class="form-control" placeholder="اتركه فارغ اذا كنت لا تريد تغيير الرمز">
                </div>

                <div class="form-group">
                    <label for="confirm_password">صلاحية المستخدم</label>
                <select class="form-control" id="role" name="role">
                    <option>ادخال</option>
                    <option>ادخال-مشاهدة</option>
                    <option>تحرير</option>
                    <option>مدير</option>


                </select>   
                </div> 
                <input type="hidden" id="emp_id" name="emp_id" value="<%=emp.id%>">


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> تعديل</button>
                    </div>
            </form>
            <script>
                document.getElementById("role").value = "<%=emp.role%>"
            </script>
            <%})%>

        </div>
    </div>
</div>

    
<%- include('../partials/footer') -%>