<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">
    <div class="row mt-4">
        
        <div class="col-md-3">
        <form  action="/events/addWorker" method="post"  enctype="multipart/form-data">
            <img src="<%= '/images/' + user.avatar%>" height="150px" width="150px">
            <input type="file" class="form-control" name="image" aria-describedby="basic-addon1" >
            <hr>
        </div>
        
        <div class="col-md-6 offset-md-1">
                <h1 class="display-4">اضافة اسم</h1>
                <hr>
                
                <%- include('../partials/flashMessages') -%>      
                    <div class="form-group">
                    <label for="title">اضافة اسم</label>
                    <input type="text" name="w_name" id="w_name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="title">رقم الهاتف</label>
                    <input type="text" name="w_tel" id="w_tel" class="form-control">
                </div>

                    <div class="form-group">
                            <label for="location">العنوان</label>
                            <input type="text" name="w_address" id="w_address" class="form-control">
                        </div>

                        <div class="row">

                            <div class="col-md-6 ">
                                <label for="location">نوع الهوية</label>
                                <select class="form-control" id="w_id_type" name="w_id_type">
                                    <option>بدون هوية</option>
                                    <option>بطاقة وطنية</option>
                                    <option>بطاقة احوال مدنية</option>
                                    <option>بطاقة سكن</option>
                                    <option>شهادة جنسية</option>
                                    <option>شهادة جنسية</option>
                                    <option>جواز سفر</option>
                                    <option>بطاقة ناخب</option>
                                    <option>هوية طالب</option>
                                    <option>هوية خاصة</option>
                                  </select>
                            </div>
                            
                            <div class="col-md-6">
                                <label for="location">رقم الهوية</label>
                                <input type="text" name="w_id_no" id="user_note" class="form-control">
                            </div>
                        </div>
                            
                <div class="form-group">
                    <label for="location">تاريخ الولادة</label>
                    <input type="text" name="w_birth_Date" id="w_birth_Date" class="form-control">
                </div>
              
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="location">التحصيل الدراسي الاول</label>
                        <input type="text" name="w_study1" id="w_study1" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="location">سنة التخرج</label>
                        <input type="text" name="grad_1" id="grad_1" class="form-control">
                    </div>
                    
                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="location">التحصيل الدراسي الثاني</label>
                        <input type="text" name="w_study2" id="w_study2" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="location">سنة التخرج</label>
                        <input type="text" name="grad_2" id="grad_2" class="form-control">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="location">الاجور</label>
                    <input type="text" name="w_salary" id="w_salary" class="form-control">
                </div>

                <div class="row">

                    <div class="col-md-6 ">
                        <label for="location">الحالة الاجتماعية</label>
                        <select class="form-control" id="w_social_status" name="w_social_status">
                            <option>متزوج/متزوجة</option>
                            <option>اعزب</option>
                            <option>متزوج</option>
                            <option>مطلق</option>
                            <option>باكر</option>
                            <option>ارمل</option>
                            <option>متزوجة</option>
                            <option>مطلقة</option>
                            <option>ارملة</option>
                            <option>باكرة</option>
                          </select>
                    </div>
                    
                    <div class="col-md-6">
                        <label for="location">جنس المستفيد</label>
                        <select class="form-control" id="w_sex" name="w_sex">
                            <option>ذكر</option>
                            <option>انثى</option>
                            
                          </select>
                    </div>
                </div>

               
                  
                        <label for="location">الحالة</label>
                        <select class="form-control" id="w_availablility" name="w_availablility">
                            <option>متوفر</option>
                            <option>غير متوفر</option>
                            
                          </select>
                    
                   
          

                <hr>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label for="location">الخبرة الاولى</label>
                        <input type="text" name="exper_1" id="exper_1" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="location">فترة العمل</label>
                        <input type="text" name="time_1" id="time_1" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label for="location">المستوى</label>
                        <select class="form-control" id="level_1" name="level_1">
                            <option>جيد جدا</option>
                            <option>جيد</option>
                            <option>متوسط</option>
                            
                          </select>
                    </div>
                    
                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label for="location">الخبرة الثانية</label>
                        <input type="text" name="exper_2" id="exper_2" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="location">فترة العمل</label>
                        <input type="text" name="time_2" id="time_2" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label for="location">المستوى</label>
                        <select class="form-control" id="level_2" name="level_2">
                            <option>جيد جدا</option>
                            <option>جيد</option>
                            <option>متوسط</option>
                            
                          </select>
                    </div>
                    
                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label for="location">الخبرة الثالثة</label>
                        <input type="text" name="exper_3" id="exper_3" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="location">فترة العمل</label>
                        <input type="text" name="time_3" id="time_3" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label for="location">المستوى</label>
                        <select class="form-control" id="level_3" name="level_3">
                            <option>جيد جدا</option>
                            <option>جيد</option>
                            <option>متوسط</option>
                            
                          </select>
                    </div>
                    
                </div>

                <div class="form-group">
                    <label for="location">الملاحضات</label>
                    <input  type="text" name="w_note" id="w_note" class="form-control">
                </div>

                




                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> اضافة</button>
                    </div>
                </div>
                
            </form>
        

    </div>
    
    
</div>

    
<%- include('../partials/footer') -%>