<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>

<div class="container">

    <div class="row mt-3">
        <div class="col md-12">
            <%- include('../partials/flashMessages') -%>
        </div>

    </div>
   

    <form  action="/events/searchJob" method="post">
    <div class="row">

        <div class="form-group col-md-1">
            <button type="submit" class="form-control btn-primary">بحث</button>
            
        </div>
        
        <div class="form-group col-md-3">
            
            <input class="form-control" id="search" name="search" type="text" placeholder="Search here">
        </div>

        <div class="form-group col-md-2">
            
            <select class="form-control " id="j_avilability" name="j_avilability">
                <option value="1">متوفر</option>
                <option value="2">غير متوفر</option>
                <option value="3">الكل</option>
                </select>
            </div>

            </div>
        </form>
            <table class="table mydatatable table-hover w-120" style="margin-top: 20px;" >

        <tbody>
        <tr>
            <td class="">ID</td>
            <td>عنوان الوضيفة</td>
            <td>اسم الشركة</td>
            <td>رقم الهاتف</td>
            <td>عنوان العمل</td>
            <td>الاجور</td>
            <td>نوع الراتب</td>
            <td>من</td>
            <td>الى</td>
            <td>حذف</td>

        </tr>
        <% jobs.forEach((job)=> {%>

            <tr>
                <td class=""><%=job.jop_id%></td>

                <td> <a href="<%=  '/events/showJob/' + job.jop_id %>" style="text-decoration: unset;color: black;"><%=job.jop_name%></a></td>
                <td><%=job.jop_oner%></td>
                <td><%=job.jop_tele%></td>
                <td><%=job.jop_addres%></td>
                <td><%=job.jop_sallry%></td>
                <td><%=job.jop_salary_type%></td>
                <td><%=job.jop_start_time%></td>
                <td><%=job.jop_end_time%></td>
                <td><%=job.exper_name%></td>
                <td><a href="<%=  '/events/deleteJob/' + job.jop_id %>" class="btn btn-danger"  style="padding: 0 0 0 0 !important
     ;margin: -2.5px auto -2px auto !important;"> حذف </a></td>
                

            </tr>
        <%})%>

        </tbody>
    </table>


    <div class="row">
        <div class="col-12 mt-2 mb-4">
            <nav aria-label="...">
                <ul class="pagination pagination-lg justify-content-center">




                </ul>
            </nav>
        </div>
    </div>
</div>


<%- include('../partials/footer') -%>