<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">

    <div class="row mt-3">
        <div class="col md-12">
            <%- include('../partials/flashMessages') -%>
        </div>

    </div>

    <form  action="/events/searchPendingName" method="get">
        <div class="row">
    
            <div class="form-group col-md-1">
                <button type="submit" class="form-control btn-primary">بحث</button>
                
            </div>
            
            <div class="form-group col-md-3">
                
                <input class="form-control" id="search" name="search" type="text" placeholder="Search here">
            </div>
    
            <div class="form-group col-md-2">
                
                <select class="form-control " id="c_is_job" name="c_is_job">
                    <option value="الكل">الكل</option>
                    <option value="نعم">وضيفة</option>
                    <option value="كلا">عام</option>
                    </select>
                </div>
    
                </div>
            </form>

            <div class="table-responsive">
    <table class="table mydatatable table-hover w-120 table-striped" style="margin-top: 20px;" >

        <tbody>
        <tr>
            <td class="">ID</td>
            <td>الاسم</td>
            <td>العنوان</td>
            <td>رقم الهاتف</td>
            <td>تاريخ الميلاد</td>
            <td>التحصيل الدراسي</td>
            <td>المهارة</td>
            <td>التاريخ</td>
            <td>وضيفة؟</td>
            <td>احتياط</td>
            <td>قبول</td>
            <td>حذف</td>

        </tr>
        <% clients.forEach((client)=> {%>

            <tr>
                <td class=""><%=client.c_id%></td>

                <td> <a href="<%=  '/events/showPendingName/' + client.c_id %>" style="text-decoration: unset;color: black;"><%=client.c_name%></a></td>
                <td><%=client.c_addres%></td>
                <td><%=client.c_tel%></td>
                <td><%=client.c_pirthdate%></td>
                <td><%=client.c_study1%></td>
                <td><%=client.c_exper_name%></td>
                <td><%=client.c_is_job%></td>
                <td><%=moment(client.creationDate).format('YYYY-MM-DD')%></td>
                <td><a href="<%=  '/events/clientToFinishedName/' + client.c_id %>" class="btn btn-primary"  style="padding: 0 0 0 0 !important
     ;margin: -2.5px auto -2px auto !important;"> احتياط </a></td>
                <td><a href="<%=  '/events/acceptWorker/' + client.c_id %>" class="btn btn-primary"  style="padding: 0 0 0 0 !important
     ;margin: -2.5px auto -2px auto !important;"> قبول </a></td>
                <td><a href="<%=  '/events/deleteClient/' + client.c_id%>" class="btn btn-danger"  style="padding: 0 0 0 0 !important
     ;margin: -2.5px auto -2px auto !important;"> حذف </a></td>


            </tr>
        <%})%>

        </tbody>
    </table>
</div>

    <nav aria-label="Page navigation" class="mt-3">
        <ul class="pagination">
            <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                <a class="page-link" href="<%= search && c_is_job ? `?search=${search}&c_is_job =${c_is_job}&page=${page-1}` : `?page=${page-1}` %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% 
                const maxVisibleButtons = 5;
                const startPage = Math.max(1, page - Math.floor(maxVisibleButtons / 2));
                const endPage = Math.min(totalPages, startPage + maxVisibleButtons - 1);
                
            %>
            <% for (let i = startPage; i <= endPage; i++) { %>
                <li class="page-item <%= page === i ? 'active' : '' %>">
                    <a class="page-link" href="<%= search && c_is_job ? `?search=${search}&c_is_job=${c_is_job}&page=${i}` : `?page=${i}` %>" aria-label="Next">
                        <%= i %></a>
                </li>

                
            <% } %>
            <li class="page-item <%= page === totalPages ? 'disabled' : '' %>">
                <a class="page-link" href="<%= search && c_is_job ? `?search=${search}&c_is_job=${c_is_job}&page=${page+1}` : `?page=${page+1}` %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            
        </ul>
    </nav>

<%- include('../partials/footer') -%>