<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="container">
    <div class="row mt-4">
        
            <div class="col-md-6 offset-md-3">
                <h1 class="display-5">أرسال الاسم: <%=workerName%></h1>
                <hr>
                
                <%- include('../partials/flashMessages') -%>      
                <form  action="/events/sendWorker" method="post">
                <input type="hidden"  name="w_id" id="w_id" value="<%=w_id%>" >
                    <div class="form-group">
                    <label for="title">الشركة ID</label>
                    <input type="text" name="com_id" id="com_id" class="form-control">
                    </div>

                        <div class="form-group">
                        <label for="title">الحالة</label>

                        <select class="form-control" id="avilability" name="avilability">
                            <option>غير مقبول</option>
                            <option>مقبول</option>
                            <option>تم العمل</option>
                            <option>متابعة</option>

                        </select>                   
                        <hr>
                        
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="location">تاريخ الارسال</label>
                        <input type="date" name="sent_date" id="sent_date" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="location">تاريخ القبول</label>
                        <input type="date" name="accept_date" id="accept_date" class="form-control">
                    </div>
                    
                </div>

                <div class="form-group">
                    <label for="title">الملاحضات</label>
                    <input type="text" name="note" id="note" class="form-control">
                    </div>
               

               




                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> ارسال</button>
                    </div>
            </form>
        </div>

        

    </div>
    
    <script>
        const inputField = document.getElementById('com_id');
        let typingTimer;                // Timer identifier
        const doneTypingInterval = 1000; // Time in ms (1 second)

        // On keyup, start the countdown
        inputField.addEventListener('input', () => {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });
        

        // User is "finished typing," do something
        async function  doneTyping() {
         const comId = document.getElementById('com_id').value;
         const result = await axios.get(`/events/showCompJson/${comId}`)
         console.log(result.data)
            if(result.data == "invalid_ID"){
                alert("ID الشركة غير صحيح")
            }else{
                alert(result.data[0].com_name)
                console.log(result.data)
            }
        }
    </script>
</div>

    
<%- include('../partials/footer') -%>