<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">

    <div class="row mt-3">
        <div class="col md-12">
            <%- include('../partials/flashMessages') -%>
        </div>

    </div>

    <form  action="/events/searchSent" method="post">
        <div class="row">
    
            <div class="form-group col-md-1">
                <button type="submit" class="form-control btn-primary">بحث</button>
                
            </div>
            
            <div class="form-group col-md-3">
                
                <input class="form-control" id="search" name="search" type="text" placeholder="Search here">
            </div>
    
            <div class="form-group col-md-2">
                
                <select class="form-control " id="avilability" name="avilability">
                    <option>الكل</option>
                    <option>مقبول</option>
                    <option>غير مقبول</option>
                    <option>تم العمل</option>
                    <option>متابعة</option>

                    </select>
                </div>
    
                </div>
            </form>

    <table class="table mydatatable table-hover w-120 table-striped" style="margin-top: 20px;" >
        <tbody>
           
        <tr>
            <td class="">User ID</td>
            <td>الاسم</td>
            <td>رقم الهاتف</td>
            <td>حالة الزبون</td>
            <td>حالة الوضيفة</td>
            <td>الشركةID</td>
            <td>اسم الشركة</td>
            <td>تاريخ الارسال</td>
            <td>تاريخ القبول</td>
            <td>ID</td>

            

        </tr>
        <% names.forEach((name)=> {%>

            <tr>
                <td class=""><%=name.w_id%></td>

                <td> <a href="<%=  '/events/showSent/' + name.sent_id + '/' + name.w_id%>" style="text-decoration: unset;color: black;"><%=name.w_name%></a></td>
                <td><%=name.w_tel%></td>
                <td><%=name.avilability%></td>
                <td><%=name.accept%></td>
                <td><%=name.com_id%></td>
                <td><%=name.com_name%></td>
                <td><%=moment(name.sent_date).format('YYYY-MM-DD')%></td>
                <td><%=moment(name.accept_date).format('YYYY-MM-DD')%></td>
                <td><%=name.sent_id%></td>
               
                
                
                

            </tr>
        <%})%>

        </tbody>
    </table>


    <div class="row">
        <div class="col-12 mt-2 mb-4">
            <nav aria-label="...">
                <ul class="pagination pagination-lg justify-content-center">




                </ul>
            </nav>
        </div>
    </div>
</div>


<%- include('../partials/footer') -%>