<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>شركة السفير</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    <nav class="navbar navbar-expand-lg " style="background-color:#194769">
        <a class="navbar-brand" href="/events" style="color: honeydew">AMC Groups</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/events/Workers" style="color: honeydew">الاسماء <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="/events/pendingNames_list" style="color: honeydew">الزبائن</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/events/sent_list"style="color: honeydew">الاسماء المرسلة</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="/events/jobs_list"style="color: honeydew">الوضائف</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/events/comps_list"style="color: honeydew">الشركات</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/users/emps_list"style="color: honeydew">ادارة الموضفين</a>
            </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: honeydew;">اضافة</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/events/addWorker">اسم</a>
                  <a class="dropdown-item" href="/events/addComp">شركة</a>
                  <a class="dropdown-item" href="/events/addJob">وضيفة</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/users/signup"> موظف</a>
                </div>
              </li>
             
          </ul>
          <ul class="navbar-nav ml-auto">

            <% if (!user) { %>
              <li class="nav-item active">
                <a class="nav-link" href="/users/login"style="color: honeydew"> Login</a>
              </li>

              <li class="nav-item active">
                  <a class="nav-link" href="/users/signup"style="color: honeydew"> Signup</a>
                </li>

              <% } else { %>
              <li class="nav-item active">
                <a class="nav-link" href="/users/logout"style="color: honeydew"> logout</a>
              </li>
              <%}  %>
       
          </ul>
        </div>
      </nav>


<div class="container">
    <div class="row mt-4">
      <div class="col-md-3">
          <form  action="/events/updateClientForm" method="post"  enctype="multipart/form-data" novalidate>
                <img id="uploadedImage" name="uploadedImage" height="150px" width="150px">
                <input type="file" class="form-control" name="image" id="image" aria-describedby="basic-addon1" >
                <hr>
            </div>
        <div class="col-md-6 ">
            <h1 class="display-4">معلومات الطلب</h1>
            <hr>
    
              <input type="hidden" name="c_id" id="c_id" value="<%=client.c_id%>" >
              <!-- Name input-->
            <div class="form-group">
                <label for="title">الاسم الثلاثي</label>
                <input type="text" name="c_name" id="c_name" class="form-control" value="<%=client.c_name%>" required>
            </div>

            <div class="form-group">
                <label for="title">رقم الهاتف</label>
                <input type="text" name="c_tel" id="c_tel" class="form-control" value="<%=client.c_tel%>">
            </div>

            <div class="form-group">
                <label for="c_address">العنوان</label>
                <input type="text" name="c_address" id="c_address" class="form-control" value="<%=client.c_addres%>">
                
            </div>


                        
                        
            <div class="form-group">
                <label for="location">تاريخ الولادة</label>
                <input type="text" name="c_birth_Date" id="c_birth_Date" class="form-control" value="<%=client.c_pirthdate%>">
            </div>
          

                <div class="form-group ">
                    <label for="location">التحصيل الدراسي </label>
                    <input type="text" name="c_study1" id="c_study1" class="form-control" value="<%=client.c_study1%>">
                </div>
                
               
                
         
            <div class="row">

                <div class="col-md-6 ">
                    <label for="location">الحالة الاجتماعية</label>
                    <select class="form-control" id="c_social_status" name="c_social_status">
                        <option>متزوج/متزوجة</option>
                        <option>اعزب</option>
                        <option>متزوج</option>
                        <option>مطلق</option>
                        <option>باكر</option>
                        <option>ارمل</option>
                        <option>متزوجة</option>
                        <option>مطلقة</option>
                        <option>ارملة</option>
                        <option>باكرة</option>
                      </select>
                </div>
                
                <div class="col-md-6">
                    <label for="location">الجنس</label>
                    <select class="form-control" id="c_sex" name="c_sex" value="<%=client.c_sex%>">
                        <option>ذكر</option>
                        <option>انثى</option>
                        
                      </select>
                </div>
            </div>

                
               
      

            <hr>


                <div class="form-group">
                    <label for="location">الخبرات</label>
                    <input type="text" name="exper_name" id="exper_name" class="form-control" value="<%=client.c_exper_name%>">
                </div>


                <div class="form-group">
                  <label for="location">الخبرات</label>
                  <input type="text" name="wanted_job" id="wanted_job" class="form-control" value="<%=client.c_study2%>">
              </div>
                

           
            <div class="form-group">
                <label for="location">الملاحضات</label>
                <input  type="text" name="c_note" id="c_note" class="form-control" value="<%=client.c_note%>">
            </div>

            <div class="form-group">
                <label for="location">الوضيفة</label>
                <input readonly type="text" name="job_name" id="job_name" class="form-control" value="<%=job_name%>">
            </div>

           
            

            

            

            <div class="form-group">
              <button type="submit" class="btn btn-primary">تعديل</button>
                <a href="<%= '/events/acceptWorker/' + client.c_id%>" class="btn btn-primary"> قبول </a>
                <%if(job_id != "لا يوجد"){%>
                <a href="<%= '/events/showJob/' + job_id%>" class="btn btn-primary"> اضهار الوضيفة </a>
                <%}%>
            </div>
            </div>
        </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
     
      
     
        document.getElementById('c_social_status').value ='<%=client.c_status%>';
        document.getElementById('c_sex').value ='<%=client.c_sex%>';
        
       

        const clientID = '<%=client.c_id%>'
        const uploadedImage = document.getElementById('uploadedImage');
        uploadedImage.src = `/events/get_c_image/${clientID}`;


    });
</script>

<script src="/axios/dist/axios.min.js"></script>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>