<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-3">
            <form  action="/events/updateWorker" method="post"  enctype="multipart/form-data">
                <img id="uploadedImage" name="uploadedImage" height="150px" width="150px">
                <input type="file" class="form-control" name="image" id="image" aria-describedby="basic-addon1" >
                <hr>
            </div>
            <div class="col-md-6 offset-md-1">
                <h1 class="display-4">اضافة اسم</h1>
                <hr>
                
                <%- include('../partials/flashMessages') -%>  
                <% worker.forEach((worker)=> {%>
    
                    <input type="hidden" name="w_id" id="w_id" value="<%=worker.w_id%>">
                    <input type="hidden" name="exper_id_1" id="exper_id_1" value="<%=exper[0].exper_id%>">
                    <input type="hidden" name="exper_id_2" id="exper_id_2" value="<%=exper[1].exper_id%>">
                    <input type="hidden" name="exper_id_3" id="exper_id_3" value="<%=exper[2].exper_id%>">

                    <div class="form-group">
                    <label for="title">تعديل الاسم</label>
                    <input type="text" name="w_name" id="w_name" class="form-control" value="<%=worker.w_name%>">
                </div>

                <div class="form-group">
                    <label for="title">رقم الهاتف</label>
                    <input type="text" name="w_tel" id="w_tel" class="form-control" value="<%=worker.w_tel%>">
                </div>

                    <div class="form-group">
                            <label for="location">العنوان</label>
                            <input type="text" name="w_address" id="w_address" class="form-control" value="<%=worker.w_addres%>">
                        </div>

                        <div class="row">

                            <div class="col-md-6 ">
                                <label for="location">نوع الهوية</label>
                                <select class="form-control" id="w_id_type" name="w_id_type">
                                    <option>بدون هوية</option>
                                    <option>بطاقة وطنية</option>
                                    <option>بطاقة احوال مدنية</option>
                                    <option>بطاقة سكن</option>
                                    <option>شهادة جنسية</option>
                                    <option>شهادة جنسية</option>
                                    <option>جواز سفر</option>
                                    <option>بطاقة ناخب</option>
                                    <option>هوية طالب</option>
                                    <option>هوية خاصة</option>
                                  </select>
                            </div>
                            
                            <div class="col-md-6">
                                <label for="location">رقم الهوية</label>
                                <input type="text" name="w_id_no" id="w_id_no" class="form-control" value="<%=worker.w_id_no%>">
                            </div>
                        </div>
                            
                <div class="form-group">
                    <label for="location">تاريخ الولادة</label>
                    <input type="text" name="w_birth_Date" id="w_birth_Date" value="<%=worker.w_pirthdate%>" class="form-control">
                </div>
              
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="location">التحصيل الدراسي الاول</label>
                        <input type="text" name="w_study1" id="w_study1" value="<%=worker.w_study1%>" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="location">سنة التخرج</label>
                        <input type="text" name="grad_1" id="grad_1" value="<%=worker.w_graduate_date1%>" class="form-control">
                    </div>
                    
                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="location">التحصيل الدراسي الثاني</label>
                        <input type="text" name="w_study2" id="w_study2" value="<%=worker.w_study2%>" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="location">سنة التخرج</label>
                        <input type="text" name="grad_2" id="grad_2" value="<%=worker.w_graduate_date2%>" class="form-control">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="location">الاجور</label>
                    <input type="text" name="w_salary" id="w_salary" value="<%=worker.w_study3%>" class="form-control">
                </div>

                <div class="row">

                    <div class="col-md-6 ">
                        <label for="location">الحالة الاجتماعية</label>
                        <select class="form-control" id="w_social_status" name="w_social_status">
                            <option>متزوج/متزوجة</option>
                            <option>اعزب</option>
                            <option>متزوج</option>
                            <option>مطلق</option>
                            <option>باكر</option>
                            <option>ارمل</option>
                            <option>متزوجة</option>
                            <option>مطلقة</option>
                            <option>ارملة</option>
                            <option>باكرة</option>
                          </select>
                    </div>
                    
                    <div class="col-md-6">
                        <label for="location">جنس المستفيد</label>
                        <select class="form-control" id="w_sex" name="w_sex">
                            <option>ذكر</option>
                            <option>انثى</option>
                            
                          </select>
                    </div>
                </div>

               
            
                        <label for="location">الحالة</label>
                        <select class="form-control" id="w_availablility" name="w_availablility" >
                            <option>متوفر</option>
                            <option>غير متوفر</option>
                            
                          </select>
                    
                   

                <hr>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label for="location">الخبرة الاولى</label>
                        <input type="text" name="exper_1" id="exper_1" value="<%=exper[0].exper_name%>" class="form-control" >
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="location">فترة العمل</label>
                        <input type="text" name="time_1" id="time_1" value="<%=exper[0].exper_time%>" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label for="location">المستوى</label>
                        <select class="form-control" id="level_1" name="level_1">
                            <option>جيد جدا</option>
                            <option>جيد</option>
                            <option>متوسط</option>
                            
                          </select>
                    </div>
                    
                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label for="location">الخبرة الثانية</label>
                        <input type="text" name="exper_2" id="exper_2" value="<%=exper[1].exper_name%>" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="location">فترة العمل</label>
                        <input type="text" name="time_2" id="time_2" value="<%=exper[1].exper_time%>" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label for="location">المستوى</label>
                        <select class="form-control" id="level_2" name="level_2">
                            <option>جيد جدا</option>
                            <option>جيد</option>
                            <option>متوسط</option>
                            
                          </select>
                    </div>
                    
                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label for="location">الخبرة الثالثة</label>
                        <input type="text" name="exper_3" id="exper_3" value="<%=exper[2].exper_name%>" class="form-control">
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="location">فترة العمل</label>
                        <input type="text" name="time_3" id="time_3" value="<%=exper[2].exper_time%>" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label for="location">المستوى</label>
                        <select class="form-control" id="level_3" name="level_3">
                            <option>جيد جدا</option>
                            <option>جيد</option>
                            <option>متوسط</option>
                            
                          </select>
                    </div>
                    
                </div>

                <div class="form-group">
                    <label for="location">الملاحضات</label>
                    <input type="text"  value="<%=worker.w_note%>"  name="w_note" id="w_note" class="form-control">
                </div>

                




                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> تعديل</button>
                    </div>
            </form>

            <script>
                document.addEventListener('DOMContentLoaded', (event) => {
                 
                  
                 
                    document.getElementById('w_id_type').value ='<%=worker.w_id_type%>';
                    document.getElementById('w_social_status').value ='<%=worker.w_status%>';
                    document.getElementById('w_sex').value ='<%=worker.w_sex%>';
                    document.getElementById('w_availablility').value ='<%=worker.avilability%>';


                    document.getElementById('level_1').value ='<%=exper[0].exper_level%>';
                    document.getElementById('level_2').value ='<%=exper[1].exper_level%>';
                    document.getElementById('level_3').value ='<%=exper[2].exper_level%>';

                    const workerID = '<%=worker.w_id%>'
                    console.log()
                    const uploadedImage = document.getElementById('uploadedImage');
                    uploadedImage.src = `/events/get_w_image/${workerID}`;
                    document.getElementById('image').value = "bwaaah";


                });
            </script>

            <%})%>
        </div>

        

    </div>
    
    
</div>

    
<%- include('../partials/footer') -%>